[Unit]
Description=A REST proxy for Apache Kafka
Documentation=http://docs.confluent.io/
After=network.target confluent-kafka.target

[Service]
Type=simple
User=cp-kafka-rest
Group=confluent
Environment="LOG_DIR=/Users/dzulfiqarali/Desktop/sharing/data01/confluent_data/log/kafka-rest-svc"
ExecStart=/Users/dzulfiqarali/Desktop/sharing/confluent-5.3.1/bin/kafka-rest-start /Users/dzulfiqarali/Desktop/sharing/confluent-etc/rs/kafka-rest.properties
TimeoutStopSec=180
Restart=no

[Install]
WantedBy=multi-user.target
