[Unit]
Description=RESTful Avro schema registry for Apache Kafka
Documentation=http://docs.confluent.io/
After=network.target confluent-kafka.target

[Service]
Type=simple
User=cp-schema-registry
Group=confluent
Environment="LOG_DIR=/Users/dzulfiqarali/Desktop/sharing/data01/confluent_data/log/kafka-sche-svc"
ExecStart=/Users/dzulfiqarali/Desktop/sharing/confluent-5.3.1/bin/schema-registry-start /Users/dzulfiqarali/Desktop/sharing/confluent-etc/sc/schema-registry.properties
TimeoutStopSec=180
Restart=no

[Install]
WantedBy=multi-user.target
