[Unit]
Description=Apache Kafka - broker
Documentation=http://docs.confluent.io/
After=network.target confluent-zookeeper.target

[Service]
Type=simple
User=cp-kafka
Group=confluent
Environment="LOG_DIR=/Users/dzulfiqarali/Desktop/sharing/data01/confluent_data/log/kafka-bk-svc"
ExecStart=/Users/dzulfiqarali/Desktop/sharing/confluent-5.3.1/bin/kafka-server-start /Users/dzulfiqarali/Desktop/sharing/confluent-etc/bk/server.properties
TimeoutStopSec=180
Restart=no

[Install]
WantedBy=multi-user.target
