[Unit]
Description=Apache Kafka Connect - distributed
Documentation=http://docs.confluent.io/
After=network.target confluent-kafka.target

[Service]
Type=simple
User=cp-kafka-connect
Group=confluent
Environment="LOG_DIR=/Users/dzulfiqarali/Desktop/sharing/data01/confluent_data/log/kafka-conn-svc"
Environment="KAFKA_LOG4J_OPTS=-Dlog4j.configuration=file://Users/dzulfiqarali/Desktop/sharing/confluent-5.0.0/etc/kafka/connect-log4j.properties"
ExecStart=/Users/dzulfiqarali/Desktop/sharing/confluent-5.3.1/bin/connect-distributed /Users/dzulfiqarali/Desktop/sharing/confluent-etc/conn/connect-avro-distributed.properties
TimeoutStopSec=180
Restart=no

[Install]
WantedBy=multi-user.target
